// List Icons
// -------------------------

.#{$icofont-css-prefix}-ul {
  padding-left: 0;
  margin-left: $icofont-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$icofont-css-prefix}-li {
  position: absolute;
  left: -$icofont-li-width;
  width: $icofont-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$icofont-css-prefix}-lg {
    left: -$icofont-li-width + (4em / 14);
  }
}
